.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainDiv h1 {
  font-weight: 300;
}
.mainDiv h5 {
  font-weight: 300;
}
.onShootstarter {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  border: 1px black solid;
  box-shadow: 2px 2px 8px 2px rgb(207, 207, 207);
  margin-bottom: 20px;
}
.onShootstarter div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 1px black solid;
  padding: 10px;
}
.onShootstarter h2 {
  margin: 0;
  color: green;
  font-size: 30px;
  font-weight: 600;
}
.onShootstarter p {
  margin: 0;
}

.projectsDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  column-rule-color: black;
}

.mainProject {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 10vw;
  padding-right: 40px;
  border-right: 1px rgb(206, 206, 206) solid;
}
.mainProject img {
  width: 100%;
}

.recommendedProjectsDiv {
  width: 50%;
  padding-left: 40px;
  padding-right: 10vw;
}
.recommendedProjectsDiv img {
  width: 120px;
}
.singleProject a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
}

.singleProjectInfo h5{
  margin: 0;
  font-size: 14px;
  padding-bottom: 4px;
}
.singleProjectInfo p{
  margin: 0;
  font-size: 12px;
}
