.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.mainDiv h1 {
  font-weight: 300;
}
.mainDiv h5 {
  font-weight: 300;
}
.onShootstarter {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  border: 1px black solid;
  box-shadow: 2px 2px 8px 2px rgb(207, 207, 207);
  margin-bottom: 20px;
}
.onShootstarter div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 1px black solid;
  padding: 10px;
}
.onShootstarter h2 {
  margin: 0;
  color: green;
  font-size: 30px;
  font-weight: 600;
}
.onShootstarter p {
  margin: 0;
}

.projectsDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  column-rule-color: black;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(206, 206, 206);
  margin-bottom: 50px;
}

.mainProject {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 10vw;
  padding-right: 40px;
  border-right: 1px rgb(206, 206, 206) solid;
}
.mainProject img {
  width: 100%;
}

.recommendedProjectsDiv {
  width: 50%;
  padding-left: 40px;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.recommendedProjectsDiv img {
  width: 10vw;
  height: 10vh;
  max-width: 200px;
}

.singleProject a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
  overflow: hidden;
}
.singleProjectInfo h5{
  margin: 0;
  font-size: 14px;
  padding-bottom: 4px;
}
.singleProjectInfo p{
  margin: 0;
  font-size: 12px;
}


/* ----------all projects------------ */
.allProjects {
  display: flex;
  flex-direction: column;
  width: 80vw;
  row-gap: 50px;
}

.allProjectsSingle {
  display: flex;
  width: 100%;
  max-height: 300px;
}
.allProjectsImg {
  width: 50%;
  padding-right: 30px;
  border-right: 4px green solid;
  max-height: 300px;
}
.allProjectsImg img {
  width: 100%;
  max-height: 300px;
}

.allProjectsInfo {
  width: 50%;
  padding-left: 30px;
}

/* --------------------media screen---------------------- */
@media screen and (max-width: 768px) {
  .mainDiv {
    width: 100vw;
    /* display: block; */
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .onShootstarter {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .onShootstarter div {
    width: 100%;
    align-items: center;
  }
  .projectsDiv {
    flex-direction: column;
    align-items: center;
  }
  .mainProject {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
  }
  .mainProject a {
    justify-content: center;
  }
  .mainProject img {
    display: flex;
    justify-self: center;
  }


  .recommendedProjectsDiv {
    display: flex;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .recommendedProjectsDiv img {
    width: 100%;
    min-height: 300px;
    max-width: 100%;
  }

  .singleProject {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .singleProject a {
    width: 100%;
    min-height: 400px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .allProjects {
    width: 100vw;
  }
  .allProjectsSingle {
    flex-direction: column;
    min-height: 420px;
  }
  .allProjectsImg {
    width: auto;
    padding-right: 0;
    border-right: none;
  }
  .allProjectsInfo {
    width: 100%;
  }
}
