.pledgeMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.projectTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectTitle p {
  margin-bottom: 40px;
  margin-top: 0;
}

.pledgesDiv {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 70vw;
  row-gap: 30px;
}
.pledgesDiv h2 {
  margin-bottom: 0;
}

.addPledge button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
