.pageMainDiv {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
  min-height: 80vh;
}
.profileMainDiv {
  display: flex;
  column-gap: 40px;
}
/* -----------user profile div---------- */
.userProfileMainDiv {
  display: flex;
  flex-direction: column;
  width: 25vw;
  max-width: 300px;
  margin-top: 50px;
}
.userProfileContainer {
  border: 1px solid black;
  position: sticky;
  top: 60px;
  padding: 10px;
  border-radius: 10px;
}
.userProfileContainer h3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.profileImageDiv {
  display: flex;
  justify-content: center;
}
.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  align-self: center;
}
.buttonDiv {
  display: flex;
  justify-content: space-around;
}
.userProfileButton {
  font-size: 18px;
  border: none;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
}
.greenDash {
  border-bottom: 5px solid green;
}
/* ----------------your pledges div---------------- */
.yourPledgesDiv {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: 1px gray solid;
  padding: 10px;
  border-radius: 10px;
}
.yourPledgesDiv h2 {
  display: flex;
  justify-content: center;
  border-bottom: 1px gray solid;
  padding-bottom: 10px;
}
.singlePledge {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.singlePledge:hover {
  background-color: rgb(206, 206, 206);
}
/* ------------------------wallet div------------------------ */
.walletDiv {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.walletDiv h2 {
  display: flex;
  justify-content: center;
}
.addCardButton button {
  background-color: green;
  padding: 5px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* -----------------------media screen--------------------- */
@media screen and (max-width: 768px) {
  .pageMainDiv {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .profileMainDiv {
    flex-direction: column;
    align-items: center;
  }
  .userProfileMainDiv {
    width: 80vw;
    margin-top: 20px;
  }
  .yourPledgesDiv {
    width: 80vw;
  }
  .walletDiv {
    width: 80vw;
  }
}
