.projectMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.projectMainDiv h3 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;
}

.projectImgInfo {
  display: flex;
  width: 80vw;
  max-width: 1000px;
  column-gap: 30px;
  justify-content: space-around;
}
.projectImg {
  width: 100%;
}
.projectImg img {
  width: 100%;
  height: 70vh;
  max-height: 400px;
}

.projectInfo {
  width: 300px;
}
.projectInfoNum h4 {
  font-size: 30px;
  margin: 0;
  padding-top: 20px;
}
.projectInfoNum p {
  margin: 0;
}
.currentFund {
  color: green;
  border-top: 5px green solid;
}

.pledgeButton {
  display: flex;
  background-color: green;
  padding: 10px;
  justify-content: center;
  margin-top: 20px;
}
.pledgeButton a {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: 500;
}
.disableButton {
  background-color: rgb(206, 206, 206);
  cursor: not-allowed;
}

.editDelete {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 15px;
}
.editDelete a, 
.editDelete button {
  width: 50%;
  margin-top: 20px;
  background-color: lightgreen;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* ---------Bottom Div----------- */
.bottomMainDiv {
  padding-top: 40px;
  display: flex;
  column-gap: 20px;
  width: 80vw;
  max-width: 1000px;
  border-top: 1px rgb(206, 206, 206) solid;
}


/* --------------------left Div---------------------- */
.leftDiv {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: sticky;
  top: 20px;
}
.leftDiv button {
  border: 0;
  background-color: white;
  padding: 5px;
  border-bottom: 1px rgb(206, 206, 206) solid;
  cursor: pointer;
  font-weight: 500;
}


/* --------------------middle Div---------------------- */
.middleDiv {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.story {
  margin-top: 0;
}
.middleDivImg {
  width: 100%;
  padding-top: 20px;
}
.middleDivImg img {
  width: 100%;
}

/* --------------------comment Div---------------------- */
.comments button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.commentMainDiv {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* --------------------right Div---------------------- */
.rightDiv {
  position: sticky;
  top: 65px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 10px;
  margin-top: 25px;
}
.rightDiv img {
  align-self: center;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  position: absolute;
  top: -45px;
}
.rightDiv h4 {
  margin-top: 35px;
}
.rightDiv p {
  margin: 0;
  overflow: hidden;
}

/* --------------------add image modal---------------------- */
.addImageModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px rgb(206, 206, 206) solid;
  overflow: scroll;
  height: 32vh;
  background-color: white;
}
.addImageModal h1 {
  color: green;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.input-form input {
  border-color: green;
  padding: 5px;
  border-radius: 5px;
}
.input-form textarea {
  border: 2px solid green;
  padding: 5px;
  border-radius: 5px;
  height: 100px;
}

.submitButton {
  background-color: green;
  width: 95%;
  color: white;
  border: none;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-weight: 600;
}


/* ---------------delete project modal----------------- */
.deleteProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.deleteProject h3 {
  color: green;
}
.deleteProjectButton {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.deleteProjectButton button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}
